*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(bg.jpg) ;
    background-size: cover;
    background-position: center;
  }
.container {
    width: 450px;
    height:550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 10px 10px  ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 40px;

}

.input-container {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 20px 0 ;
}

label {
    position: relative;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    align-content: center;
    bottom: 9px;
}

input[type="number"] {
    width: 100%;
    padding: 60px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.input-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 15px 60px 20px 20px}
button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #0af515;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
}
.container h1{
    padding: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: rgb(247, 178, 6);
    }
    .container .reset{
        width: 30%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;}

        .container .button{
            width: 50%;
            height: 35px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 700;}
            .input-container input::placeholder{
                color: #fff;
                opacity: 0.5;
                align-content: start;
                margin to 50px;
                margin-top: 50px;
            }
.container .heading {
padding: 1px;
align-content: center;
}
.container h5{
    padding: 23px;
    text-align: center;
}

.container .result {
color:rgb(10, 247, 89);
font-weight: bold;
font-size: larger;
}
    
}